div.home {
  height: 100%;
  background: url("/assets/splash2.jpeg") !important;
}

p.tagline {
  font-size: 3em;
  color: #FFF !important;
}

.login-box {
	border-radius: 20px;
  height: 100%;
	background-color: rgba(178, 65, 00, 0.2);
	opacity: 0.9;
}

.btn-wrapper {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.btn-home {
	background-color: #206276;
}