body {
  background: url("/assets/splash2.jpeg") !important;
  background-size: 50% 100%; 
}

p.tagline {
  color: #FFF !important;
}

.login-box {
	border-radius: 20px;
	background-color: rgba(43, 192, 190, 0.2);
	opacity: 0.9;
}

.btn-wrapper {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.btn-home {
	background-color: #206276;
}