.container-logged-in {
	width: 100%;
	padding: 15px 0px 15px 0px;
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 15px;
}

.feed {
	background: #2F3F43 !important;
	padding: 0px 0px 20px 0px;
}

.banner {
	max-width: 100%;
}

.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.column {
	max-width: 25%;
}

.feed-banner {
	min-height: 650px;
	padding-top: 15px;
	padding-top: 15px;
}


